.headerContainer {
  border-bottom: 1px solid var(--gray-800);

  @media screen and (min-width: 768px) {
    height: 5rem;
  }
}

.headerContent {
  max-width: 1120px;
  margin: 0 auto;
  padding: 2rem;

  display: flex;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    height: 5rem;
    padding: 0 2rem;
    flex-direction: row;
  }

  nav {
    height: 5rem;

    @media screen and (min-width: 768px) {
      margin-left: 5rem;
    }

    a {
      display: inline-block;
      position: relative;
      padding: 0 .5rem;
      height: 5rem;
      line-height: 5rem;
      color: var(--gray-300);
      transition: color .2s;

      // Or &:not(:first-child)
      & + a {
        margin-left: 2rem;
      }

      &:hover {
        color: var(--white);
      }

      &.active {
        color: var(--white);
        font-weight: bold;
      }

      &.active:after {
        content: '';
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 1px;
        left: 0;
        background-color: var(--yellow-500);
      }
    }
  }

   button {
     margin: 2rem 0 0;

     @media screen and (min-width: 768px) {
       margin: 0 0 0 auto;
     }
   }
}
